@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.navbarContainer {
  display: flex;
  width: 100%;
  background-color: var(--color-primario);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  align-items: center;
  gap: 30px;
}
.homeTitle {
  font-size: 1.5rem;
  font-family: var(--fuente-josefin);
  font-weight: bold;
  color: var(--color-black);
  cursor: pointer;
  margin-left: 240px;
}
.aboutTitle {
  font-family: var(--fuente-josefin);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-black);
  cursor: pointer;
}
@media (max-width: 1200px) {
  .navbarContainer {
    justify-content: center;
  }
  .homeTitle {
    margin-left: 0;
  }
}
