.matrixCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Mantén el canvas detrás del contenido */
  pointer-events: none; /* Evita que el canvas interfiera con la interacción del usuario */
}
