@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.footerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primario);
  text-align: center;
  margin: 0;
  padding: 10px;
}
.footerText {
  font-size: 1rem;
  color: var(--color-secundario);
  font-family: "Josefin Sans", sans-serif;
}
